* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


input, textarea, select, a {
  outline: none;
}


/* Start here */

body {

  font-family: arial, sans-serif;
  font-size: 25px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none; */
  background-color: white;
  color: white;
}

.hero-info {
  position: fixed;
  z-index: 999999;
  color: white;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.title {
  display: block;
  text-align: center;
}

.menu-link {
  text-decoration: none;
  color: white;
}

.menu-link:hover {
  text-decoration: underline;
}


.logo-container {
  display: flex;
	flex-wrap:wrap;
  align-items:center;
  justify-content: center;
  padding-bottom: 20px;
}

.logo-images {
  width: 15%;
}


#Layer_1 , #Layer_2 , #Layer_3 {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  /* margin: -75px 0 0 -75px; */
}



#set-height {
  display: block;
  height: 2000px;
}


#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
}



/*EMAIL FORM*/

#mc_embed_signup {
  background-color: #ffffff00;
  clear: left;
  width: 100%;
  position: fixed;
  z-index: 9999999;
  bottom: 0;
  margin-bottom: 100px;
}

input {
  background-color: #ffffff00;
  color: white;
  font-size: 25px;
  font-family: 'Fakt Pro Normal', Arial, sans-serif;
  text-align: center;
  display: inline-block;
  padding: 10px;
}

::placeholder {
  color: white;
}

#mc_embed_signup_scroll {
  font-family: 'Fakt Pro Normal', Arial, sans-serif;
  margin: 0 auto;
  display: block;
  text-align: center;
}

#mce-EMAIL {
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0;
  cursor: text;
  width: 350px;
  margin-right: 10px;
}

#mce-email:focus {
  outline: none;
  box-shadow:none;
}

.clear {
  display: inline-block;
}

#mc-embedded-subscribe {
  border: 2px solid white;
  border-radius: 0;
}

#mc-embedded-subscribe:hover {
  font-style: italic;
  cursor: pointer;
}


/* MOBILE STYLES */


/*ALL SMARTPHONE*/

@media only screen
/* and (min-width: 320px) */
and (max-width : 736px) {


body , input {
  font-size: .9em;
}

.logo-images {
  width: 30%;
}

.clear {
  display: block;
  margin-top: 10px;
}

#mce-EMAIL {
  margin-right: 0;
}


}
