* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


input, textarea, select, a {
  outline: none;
}


/* Start here */

body {
  font-family: 'Futura', arial, helvetica, san-serif;
  font-size: 20px;
  overflow-y: hidden;
  overflow-x: hidden;
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none; */
  text-transform: lowercase;
  background-color: white;
  color: black;
  -webkit-animation: color-bg 60s infinite alternate;
}



/* Structure - NAVS */

.header-content__container , .footer-content__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
}

.header-content__container {
  margin-top: 1.5%;
}

.footer-content__container {
  position: absolute;
  bottom: 0 !important;
  margin-bottom: 1.5%;
}

/* .header-item , .footer-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
} */

.header-item--left , .footer-item--left {
  text-align: left;
  padding-left: 1.5%;
  -webkit-box-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}

.header-item--right , .footer-item--right {
  text-align: right;
  padding-right: 1.5%;
  -webkit-box-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
}


.footer-item {
  align-self:flex-end;
}


.menu-link {
  text-decoration: none;
  color: black;
  display: block;
}

.menu-link:hover {
  color: #86532C;
  /* text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.3); */
}



/* LOGO INTERACTION */


.animation__container {
  position: relative;
  margin: 10% 0 0 0;
  /* background-color: peachpuff; */
  display: flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content: center;
}

.ap-logo__container {
  width: 30%;
}

.ap-logo {
  margin: 20px 0 20px 0;
}

.letter-a {
  fill: red;
  -webkit-animation: color-letter-a 18s infinite alternate;
}

.letter-p {
  fill: blue;
  -webkit-animation: color-letter-p 20s infinite alternate;
}



#dot__container {
	width: 99%;
	height:720px;
	margin: 0 auto;
	position:fixed;
	/* background-color:#666; */
  z-index: 99999;
}

#yasemin-a , #yasemin-p {
	position:relative;
  cursor: pointer;
}

.dot {
  z-index: 99999;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* position: relative;
  overflow: hidden; */
  position: fixed;
}

/* .a-dot {
  -webkit-animation: color-a-dot 20s infinite alternate;
}

.p-dot {
  -webkit-animation: color-p-dot 20s infinite alternate;
} */


.a-dot1 {
  left: 45.5%;
  top: 70%;
  -webkit-animation: color-a-dot1 20s infinite alternate;
}

.p-dot1 {
  left: 52%;
  top: 80%;
  -webkit-animation: color-p-dot1 20s infinite alternate;
}

.a-dot2 {
  left: 40%;
  top: 65%;
  -webkit-animation: color-a-dot2 20s infinite alternate;
}

.p-dot2 {
  left: 58%;
  top: 72%;
  -webkit-animation: color-p-dot2 20s infinite alternate;
}

.a-dot3 {
  left: 33%;
  top: 62%;
  -webkit-animation: color-a-dot3 20s infinite alternate;
}

.p-dot3 {
  left: 75%;
  top: 30%;
  -webkit-animation: color-p-dot3 20s infinite alternate;
}

.a-dot4 {
  left: 45.2%;
  top: -5%;
  -webkit-animation: color-a-dot4 20s infinite alternate;
}

.p-dot4 {
  left: 66%;
  top: 43%;
  -webkit-animation: color-p-dot4 20s infinite alternate;
}

.a-dot5 {
  left: 32%;
  top: 10%;
  -webkit-animation: color-a-dot5 20s infinite alternate;
}

.p-dot5 {
  left: 51.5%;
  top: 8%;
  -webkit-animation: color-p-dot5 20s infinite alternate;
}

/* KEYFRAMES - COLORS */

@-webkit-keyframes color-bg {

  0%, 100% {
    background-color:#FEF4DF;
  }

  25% {
    background-color:#F2FEE8;
  }

  50% {
    background-color:#FEEAEA;
  }

  75% {
    background-color:#EDEDFE;
  }

}


@-webkit-keyframes color-letter-a {
  0%, 100% {
    fill:#764200;
  }

  25% {
    fill:#de965c;
  }

  50% {
    fill:#f36e24;
  }

  75% {
    fill:#fee200;
  }

}

@-webkit-keyframes color-letter-p {
  0%, 100% {
    fill:#003a0b;
  }

  25% {
    fill:#277e3e;
  }

  50% {
    fill:#97996a;
  }

  75% {
    fill:#1E62FE;
  }

}


@-webkit-keyframes color-a-dot1 {
  0%, 100% {
    background-color:red;
  }

  25% {
    background-color:yellow;
  }

  50% {
    background-color:blue;
  }

  75% {
    background-color:green;
  }

}

@-webkit-keyframes color-p-dot1 {
  0%, 100% {
    background-color:peachpuff;
  }

  25% {
    background-color:grey;
  }

  50% {
    background-color:purple;
  }

  75% {
    background-color:pink;
  }

}

@-webkit-keyframes color-a-dot2 {
  0%, 100% {
    background-color:pink;
  }

  25% {
    background-color:green;
  }

  50% {
    background-color:red;
  }

  75% {
    background-color:purple;
  }

}

@-webkit-keyframes color-p-dot2 {
  0%, 100% {
    background-color:orange;
  }

  25% {
    background-color:yellow;
  }

  50% {
    background-color:blue;
  }

  75% {
    background-color:brown;
  }

}


@-webkit-keyframes color-a-dot3 {
  0%, 100% {
    background-color:white;
  }

  25% {
    background-color:navy;
  }

  50% {
    background-color:purple;
  }

  75% {
    background-color:pink;
  }

}

@-webkit-keyframes color-p-dot3 {
  0%, 100% {
    background-color:green;
  }

  25% {
    background-color:yellow;
  }

  50% {
    background-color:peachpuff;
  }

  75% {
    background-color:red;
  }

}

@-webkit-keyframes color-a-dot4 {
  0%, 100% {
    background-color:lightblue;
  }

  25% {
    background-color:brown;
  }

  50% {
    background-color:pink;
  }

  75% {
    background-color:green;
  }

}

@-webkit-keyframes color-p-dot4 {
  0%, 100% {
    background-color:brown;
  }

  25% {
    background-color:orange;
  }

  50% {
    background-color:peachpuff;
  }

  75% {
    background-color:yellow;
  }

}

@-webkit-keyframes color-a-dot5 {
  0%, 100% {
    background-color:navy;
  }

  25% {
    background-color:green;
  }

  50% {
    background-color:purple;
  }

  75% {
    background-color:pink;
  }

}

@-webkit-keyframes color-p-dot5 {
  0%, 100% {
    background-color:yellow;
  }

  25% {
    background-color:grey;
  }

  50% {
    background-color:lightpink;
  }

  75% {
    background-color:lightblue;
  }

}


/* .positionme1 {
  left: 10%;
  top: 10%;
}

.positionme2 {
  left: 20%;
  top: 20%;
} */

/* .a-dot1 {
  margin: -5% 0% 0% 40%;
  background-color: orange;
  -webkit-animation: bounce-a 20s infinite alternate;
}

.a-dot2 {
  margin: -30% 0% 0% 40%;
  background-color: green;
}

.a-dot3 {
  margin: -12% 0% 0% 29%;
  background-color: yellow;
}

.a-dot4 {
  margin: -2% 0% 0% 42%;
  background-color: brown;
}

.a-dot5 {
  margin: -6% 0% 0% 37%;
  background-color: grey;
}

.a-dot6 {
  margin: -12% 0% 0% 25%;
  background-color: pink;
}

.a-dot7 {
  margin: -28% 0% 0% 57%;
  background-color: navy;
}

.a-dot8 {
  margin: -28% 0% 0% 44%;
  background-color: grey;
}

.a-dot9 {
  margin: -30% 0% 0% 51%;
  background-color: brown;
}

.a-dot10 {
  margin: -10% 0% 0% 30%;
  background-color: peachpuff;
}


.p-dot1 {
  margin: 3% 0% 0% 53%;
  background-color: red;
}

.p-dot2 {
  margin: 0% 0% 0% 58%;
  background-color: peachpuff;
}

.p-dot3 {
  margin: -30% 0% 0% 51%;
  background-color: grey;
}

.p-dot4 {
  margin: 6% 0% 0% 50%;
  background-color: blue;
}

.p-dot5 {
  margin: -26% 0% 0% 63%;
  background-color: lightgreen;
}

.p-dot6 {
  margin: -18% 0% 0% 67%;
  background-color: darkgreen;
}

.p-dot7 {
  margin: 3% 0% 0% 57%;
  background-color: orange;
}

.p-dot8 {
  margin: -10% 0% 0% 64%;
  background-color: red;
}

.p-dot9 {
  margin: 4% 0% 0% 44%;
  background-color: yellow;
}

.p-dot10 {
  margin: 4% 0% 0% 68%;
  background-color: green;
} */



.showme {
  display: block;
  transition: 5s ease-in-out;
}

.hideme {
  display: none;
}















@keyframes wink {
	0%   {
		height:0px;
	}

  30%   {
		height:150px;
	}

  50%   {
    height:150px;
  }

  70%   {
    height:150px;
  }

	100% {
		height:0px;
	}
}


.show2 {
	animation-name: wink;
	-moz-animation-name: wink;
	-webkit-animation-name: wink;

	animation-duration: .6s;
	-moz-animation-duration: .6s;
	-webkit-animation-duration: .6s;

	animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;

	animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;

}


/*EMAIL FORM*/

#mc_embed_signup {
  background-color: #ffffff00;
  clear: left;
  width: 100%;
  /* position: fixed; */
  z-index: 9999999;
}

input {
  background-color: #ffffff00;
  color: black;
  font-size: 20px;
  font-family: 'Futura', arial, helvetica, san-serif;
  text-align: center;
  display: inline-block;
  padding: 10px;
}

::placeholder {
  color: black;
}

#mc_embed_signup_scroll {
  font-family: 'Futura', arial, helvetica, san-serif;
  /* margin: 0 auto; */
  display: block;
  /* text-align: center; */
}

#mce-EMAIL {
  border: none;
  border-bottom: 2.7px solid black;
  border-radius: 0;
  cursor: text;
  width: 300px;
  margin-right: 10px;
}

#mce-email:focus {
  outline: none;
  box-shadow:none;
}

.clear {
  display: inline-block;
}

#mc-embedded-subscribe {
  border: 2.7px solid black;
  border-radius: 0;
}

#mc-embedded-subscribe:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transition: .5s;
}





/* MOBILE STYLES */


@media only screen
and (max-width : 1500px) {

.animation__container {
  position: relative;
  margin: 10% 0 0 0;
}

.eye {
  width: 120px;
  height: 120px;
  margin: 70px;
}

.eyeball {
  width: 80px;
  height: 80px;
}

.squint {
  height: 30px;
}

.pinhole {
  width: 30px;
  height: 30px;
  transition: all .5s ease-in-out;
}

.hide {
  display: none;
}

.show {
  display: block;
  height: 80px;
  transition: all .5s ease-in-out;
}


}




@media only screen
and (max-width : 1330px) {

.animation__container {
  position: relative;
  margin: 14% 0 0;
}

.eye {
  width: 100px;
  height: 100px;
  margin: 60px;
}

.eyeball {
  width: 60px;
  height: 60px;
}

.squint {
  height: 35px;
}

.pinhole {
  width: 30px;
  height: 30px;
  transition: all .5s ease-in-out;
}

.show {
  display: block;
  height: 70px;
  transition: all .5s ease-in-out;
}



}




@media only screen
and (max-width : 1150px) {

#mc_embed_signup {
  /* margin-bottom: 5%; */
}

.hero-info {
  margin-top: 5%;
}

.animation__container {
  position: relative;
  margin: 16% 0 0 0;
}

.eye {
  width: 90px;
  height: 90px;
  margin: 55px;
}

.eyeball {
  width: 45px;
  height: 45px;
}

.squint {
  height: 35px;
}

.pinhole {
  width: 25px;
  height: 25px;
  transition: all .5s ease-in-out;
}

.show {
  display: block;
  height: 60px;
  transition: all .5s ease-in-out;
}



}




@media only screen
and (max-width : 1020px) {

.animation__container {
  position: relative;
  margin: 20% 0 0 0;
}

.eye {
  margin: 45px;
}

}



@media only screen
and (max-width : 970px) {

.eye {
  width: 80px;
  height: 80px;
  margin: 45px;
}

.eyeball {
  width: 40px;
  height: 40px;
}


.squint {
  height: 30px;
}

.pinhole {
  width: 18px;
  height: 18px;
  transition: all .5s ease-in-out;
}



}



@media only screen
and (max-width : 900px) {

.animation__container {
  position: relative;
  margin: 24% 0 0 0;
}

.eye {
  width: 80px;
  height: 80px;
  margin: 40px;
}

.squint {
  height: 30px;
}

}



@media only screen
and (max-width : 840px) {

.eye {
  width: 65px;
  height: 65px;
  margin: 40px;
}

.eyeball {
  width: 30px;
  height: 30px;
}

.squint {
  height: 20px;
}

.pinhole {
  width: 15px;
  height: 15px;
  transition: all .5s ease-in-out;
}

.show {
  display: block;
  height: 45px;
  transition: all .5s ease-in-out;
}


}



@media only screen
and (max-width : 767px) {

.eye {
  width: 65px;
  height: 65px;
  margin: 33px;
}

.squint {
  height: 20px;
}


}


/*ALL SMARTPHONE*/


@media only screen
/* and (min-width: 320px) */
and (max-width : 736px) {


body , input {
  font-size: .9em;
}

.clear {
  display: block;
  margin-top: 10px;
}

.header-content__container {
  margin-top: 5%;
  flex-direction: column;
}

.footer-content__container {
  margin-bottom: 5%;
  flex-direction: column-reverse;
}

.header-item , .footer-item {
  padding: 0;
  text-align: center;
}

.footer-item {
  align-self: center;
}

.opening, .email {
  padding-bottom: 4%;
}

.menu-link {
  display: inline-block;
}


.animation__container {
  position: relative;
  margin: 32% 0 0 0;
}


.ap-logo__container {
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
}


.ap-logo {
  max-width: 80%;
}



}



@media only screen
and (max-width : 645px) {



}




@media only screen
and (max-width : 580px) {



}



@media only screen
and (max-width : 530px) {




}
