* {
  box-sizing: border-box;
}


/* Start here */

body {
  font-family: arial;
}


.time {
  position: fixed;
  font-size: 40px;
  text-transform: uppercase;
  right: 10px;
  bottom: 15px;
}

.countdown , .countdown5 {
  margin: auto;
  width: 600px;
}


.countdown , .countdown5 {
  margin-top: 230px;
  text-align: center;
  font-size: 120px;
  text-transform: uppercase;
}

.break-screen .countdown5 {
  margin: 0;
  padding-left: 10px;
  font-size: 100px;
  text-align: left;
}


.work-screen {

}

.break-screen {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 1;
  position: fixed;
  background-color: black;
}

.break-screen .time , .break-screen .countdown5 {
  color: white;
}

/*EXERCISE CONTENT */

.exercise-swap {
  display: block;
  margin: auto;
  width: 100%;
  height: 600px;
  padding: 10px;
  justify-content: space-around;
  /*background-color: red;*/
}

.exercise-swap img {
  display: block;
  margin: auto;
  margin-top: 45px;
}

.exercise-swap .enlarge {
  max-width: 110%;
}

.exercise-swap video {
  max-width: 100%;
  display: block;
  margin: auto;
  margin-top: 80px;
}



/* NOTEPOPUPS */

.popup-item {
  position: fixed;
  filter: drop-shadow(4px 4px 4px lightgrey);
  border-radius: 8px;
  width: 190px;
  height: 190px;
  padding: 65px 10px;
  text-align: center;

  font-family: monospace;
  font-size: 17px;

  cursor: pointer;
}

.yellow {
  background-color: lightyellow;
  border: 5px solid lightyellow;
}

.pink {
  background-color: pink;
  border: 5px solid pink;
}

.green {
  background-color: #b5fcb5;
  border: 5px solid #b5fcb5;
}

.blue {
  background-color: lightblue;
  border: 5px solid lightblue;
}




.note1 {
  margin-left: 100px;
  margin-top: 100px;
}

.note2 {
  margin-top: -300px;
  margin-left: 250px;
}

.note3 {
  margin-left: 180px;
  margin-top: -50px;
}

.note4 {
  margin-left: 580px;
}

.note5 {
  margin-left: 1000px;
  margin-top: -185px;
}

.note6 {
  margin-left: 1100px;
  margin-top: -400px;
}

.note7 {
  margin-left: 1150px;
  margin-top: 100px;
}

.note8 {
  margin-left: 750px;
  margin-top: -360px;
}

.note9 {
  margin-left: 900px;
  margin-top: 80px;
}

.note10 {
  margin-left: 400px;
  margin-top: 120px;
}

.note11 {
  margin-left: 100px;
  margin-top: -130px;
}

.note12 {
  margin-left: 30px;
}

.note13 {
  margin-left: 500px;
  margin-top: -170px;
}

.note14 {
  margin-left: 1200px;
  margin-top: -140px;
}

.note15 {
  margin-left: 800px;
  margin-top: -270px;
}

.note16 {
  margin-left: 150px;
  margin-top: -350px;
}

.note17 {
  margin-left: 240px;
  margin-top: 110px;
}

.note18 {
  margin-left: 600px;
  margin-top: 110px;
}

.note19 {
  margin-left: 800px;
  margin-top: -40px;
}

.note20 {
  margin-left: 1000px;
  margin-top: -40px;
}

.note21 {
  margin-left: 900px;
  margin-top: 80px;
}

.note22 {
  margin-left: 400px;
  margin-top: 120px;
}

.note23 {
  margin-left: 1100px;
  margin-top: -370px;
}

.note24 {
  margin-left: 90px;
  margin-top: 100px;
}

.note25 {
  margin-left: 210px;
  margin-top: -210px;
}

.note26 {
  margin-left: 620px;
  margin-top: -310px;
}

.note27 {
  margin-left: 180px;
  margin-top: -50px;
}

.note28 {
  margin-left: 580px;
}

.note29 {
  margin-left: 1000px;
  margin-top: -185px;
}

.note30 {
  margin-left: 1200px;
  margin-top: -300px;
}

.note31 {
  margin-left: 980px;
  margin-top: -176px;
}

.note32 {
  margin-left: 400px;
  margin-top: -20px;
}

.note33 {
  margin-left: 650px;
  margin-top: -100px;
}

.note34 {
  margin-left: 1110px;
  margin-top: -300px;
}

.note35 {
  margin-left: 800px;
  margin-top: -185px;
}

.note36 {
  margin-left: 340px;
  margin-top: -200px;
}

.note37 {
  margin-left: 130px;
  margin-top: 100px;
}

.note38 {
  margin-left: 940px;
  margin-top: 60px;
}

.note39 {
  margin-left: 650px;
  margin-top: -100px;
}

.note40 {
  margin-left: 890px;
  margin-top: -380px;
}

.note41 {
  margin-left: 1200px;
  margin-top: 160px;
}

.note42 {
  margin-left: 210px;
  margin-top: 70px;
}

.note43 {
  margin-left: 100px;
  margin-top: -50px;
}

.note44 {
  margin-left: 345px;
  margin-top: -200px;
}

.note45 {
  margin-left: 100px;
  margin-top: -50px;
}

.note46 {
  margin-left: 388px;
  margin-top: -110px;
}

.note47 {
  margin-left: 743px;
  margin-top: 110px;
}

.note48 {
  margin-left: 1140px;
  margin-top: 110px;
}

.note49 {
  margin-left: 800px;
  margin-top: -5px;
}

.note50 {
  margin-left: 1020px;
  margin-top: -300px;
}

.note51 {
  margin-left: 130px;
  margin-top: -200px;
}

.note52 {
  margin-left: 960px;
  margin-top: -40px;
}

.note53 {
  margin-left: 1060px;
  margin-top:  130px;
}

.note54 {
  margin-left: 660px;
  margin-top: -100px;
}

.note55 {
  margin-left: 1150px;
  margin-top: -330px;
}

.note56 {
  margin-left: 245px;
  margin-top: 110px;
}


















/*REPEAT HOURLY */

.note200 {
  margin-left: 100px;
  margin-top: 100px;
}

.note201 {
  margin-top: -300px;
  margin-left: 350px;
}

.note202 {
  margin-left: 980px;
  margin-top: 100px;
}

.note203 {
  margin-left: 580px;
}

.note204 {
  margin-left: 1000px;
  margin-top: -185px;
}

.note205 {
  margin-left: 800px;
  margin-top: -270px;
}

.note206 {
  margin-left: 170px;
  margin-top: -350px;
}

.note207 {
  margin-left: 990px;
  margin-top: 110px;
}

.note208 {
  margin-left: 140px;
  margin-top: 100px;
}

.note209 {
  margin-left: 500px;
  margin-top: -350px;
}

.note210 {
  margin-left: 1270px;
  margin-top: -290px;
}

.note211 {
  margin-left: 1170px;
  margin-top: 150px;
}

.note212 {
  margin-left: 50px;
  margin-top: -270px;
}

.note213 {
  margin-left: 200px;
  margin-top: -100px;
}

.note214 {
  margin-left: 600px;
  margin-top: -220px;
}

.note215 {
  margin-left: 910px;
  margin-top: -315px;
}

.note216 {
  margin-left: 440px;
  margin-top: 165px;
}

.note217 {
  margin-left: 640px;
  margin-top: 20px;
}

.note218 {
  margin-left: 744px;
  margin-top: 100px;
}
