* {
  box-sizing: border-box;
}


/* Start here */

body {
  font-family: arial;
}


.time {
  position: fixed;
  font-size: 40px;
  text-transform: uppercase;
  right: 10px;
  bottom: 15px;
}

.countdown , .countdown5 {
  margin: auto;
  width: 600px;
}


.countdown , .countdown5 {
  margin-top: 230px;
  text-align: center;
  font-size: 120px;
  text-transform: uppercase;
}

.break-screen .countdown5 {
  margin: 0;
  padding-left: 10px;
  font-size: 100px;
  text-align: left;
}


.work-screen {

}

.break-screen {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 1;
  position: fixed;
  background-color: black;
}

.break-screen .time , .break-screen .countdown5 {
  color: white;
}

/*EXERCISE CONTENT */

.exercise-swap {
  display: block;
  margin: auto;
  width: 100%;
  height: 600px;
  padding: 10px;
  justify-content: space-around;
  /*background-color: red;*/
}

.exercise-swap img {
  display: block;
  margin: auto;
  margin-top: 45px;
}

.exercise-swap .enlarge {
  max-width: 110%;
}

.exercise-swap video {
  max-width: 100%;
  display: block;
  margin: auto;
  margin-top: 80px;
}



/* NOTEPOPUPS */

.popup-item {
  position: fixed;
  filter: drop-shadow(4px 4px 4px lightgrey);
  border-radius: 8px;
  width: 190px;
  height: 190px;
  padding: 65px 10px;
  text-align: center;

  font-family: monospace;
  font-size: 17px;

  cursor: pointer;
}

.yellow {
  background-color: lightyellow;
  border: 5px solid lightyellow;
}

.pink {
  background-color: pink;
  border: 5px solid pink;
}

.green {
  background-color: #b5fcb5;
  border: 5px solid #b5fcb5;
}

.blue {
  background-color: lightblue;
  border: 5px solid lightblue;
}




.note1 {
  margin-left: 100px;
  margin-top: 100px;
}

.note2 {
  margin-top: 100px;
  margin-left: 840px;
}

.note3 {
  margin-left: 180px;
  margin-top: -50px;
}

.note4 {
  margin-top: -260px;
  margin-left: 680px;
}

.note5 {
  margin-left: 1000px;
  margin-top: -185px;
}

.note6 {
  margin-left: 1100px;
  margin-top: -400px;
}

.note7 {
  margin-left: 1150px;
  margin-top: 100px;
}

.note8 {
  margin-left: 750px;
  margin-top: -360px;
}

.note9 {
  margin-left: 900px;
  margin-top: 80px;
}

.note10 {
  margin-left: 400px;
  margin-top: 120px;
}

.note11 {
  margin-left: 100px;
  margin-top: -130px;
}

.note12 {
  margin-left: 30px;
}

.note13 {
  margin-left: 500px;
  margin-top: -170px;
}

.note14 {
  margin-left: 1200px;
  margin-top: -140px;
}

.note15 {
  margin-left: 800px;
  margin-top: -270px;
}

.note16 {
  margin-left: 150px;
  margin-top: -350px;
}

.note17 {
  margin-left: 240px;
  margin-top: 110px;
}

.note18 {
  margin-left: 600px;
  margin-top: 110px;
}

.note19 {
  margin-left: 800px;
  margin-top: -130px;
}

.note20 {
  margin-left: 1000px;
  margin-top: -40px;
}

.note21 {
  margin-left: 900px;
  margin-top: 80px;
}

.note22 {
  margin-left: 400px;
  margin-top: 120px;
}

.note23 {
  margin-left: 1100px;
  margin-top: -370px;
}

.note24 {
  margin-left: 90px;
  margin-top: 100px;
}

.note25 {
  margin-left: 210px;
  margin-top: -210px;
}

.note26 {
  margin-left: 620px;
  margin-top: -310px;
}

.note27 {
  margin-left: 180px;
  margin-top: -50px;
}

.note28 {
  margin-left: 580px;
  margin-top: 40px;
}

.note29 {
  margin-left: 1000px;
  margin-top: -185px;
}

.note30 {
  margin-left: 1200px;
  margin-top: -300px;
}

.note31 {
  margin-left: 910px;
  margin-top: -90px;
}

.note32 {
  margin-left: 400px;
  margin-top: -20px;
}

.note33 {
  margin-left: 650px;
  margin-top: -100px;
}

.note34 {
  margin-left: 1110px;
  margin-top: -300px;
}

.note35 {
  margin-left: 800px;
  margin-top: -185px;
}

.note36 {
  margin-left: 340px;
  margin-top: -200px;
}

.note37 {
  margin-left: 130px;
  margin-top: 100px;
}

.note38 {
  margin-left: 940px;
  margin-top: 60px;
}

.note39 {
  margin-left: 650px;
  margin-top: -100px;
}

.note40 {
  margin-left: 890px;
  margin-top: -380px;
}

.note41 {
  margin-left: 1200px;
  margin-top: 160px;
}

.note42 {
  margin-left: 210px;
  margin-top: 70px;
}

.note43 {
  margin-left: 100px;
  margin-top: -50px;
}

.note44 {
  margin-left: 345px;
  margin-top: -200px;
}

.note45 {
  margin-left: 100px;
  margin-top: -50px;
}

.note46 {
  margin-left: 388px;
  margin-top: -110px;
}

.note47 {
  margin-left: 743px;
  margin-top: 110px;
}

.note48 {
  margin-left: 1140px;
  margin-top: 110px;
}

.note49 {
  margin-left: 800px;
  margin-top: -25px;
}

.note50 {
  margin-left: 1020px;
  margin-top: -300px;
}

.note51 {
  margin-left: 130px;
  margin-top: -200px;
}

.note52 {
  margin-left: 960px;
  margin-top: -40px;
}

.note53 {
  margin-left: 1060px;
  margin-top:  130px;
}

.note54 {
  margin-left: 660px;
  margin-top: -100px;
}

.note55 {
  margin-left: 1150px;
  margin-top: -330px;
}

.note56 {
  margin-left: 245px;
  margin-top: 110px;
}

.note57 {
  margin-left: 980px;
  margin-top: -176px;
}

.note58 {
  margin-left: 400px;
  margin-top: -20px;
}

.note59 {
  margin-left: 650px;
  margin-top: 100px;
}

.note60 {
  margin-left: 1140px;
  margin-top: 110px;
}

.note61 {
  margin-left: 800px;
  margin-top: -320px;
}

.note62 {
  margin-left: 340px;
  margin-top: -200px;
}

.note63 {
  margin-left: 165px;
  margin-top: -40px;
}

.note64 {
  margin-left: 940px;
  margin-top: 60px;
}

.note65 {
  margin-left: 650px;
  margin-top: -100px;
}

.note66 {
  margin-left: 400px;
  margin-top: 120px;
}

.note67 {
  margin-left: 1100px;
  margin-top: -370px;
}

.note68 {
  margin-left: 90px;
  margin-top: 100px;
}


.note69 {
  margin-left: 980px;
  margin-top: 100px;
}

.note70 {
  margin-left: 1020px;
  margin-top: -300px;
}

.note71 {
  margin-left: 650px;
  margin-top: -100px;
}

.note72 {
  margin-left: 180px;
  margin-top: -20px;
}

.note73 {
  margin-left: 580px;
}

.note74 {
  margin-left: 860px;
  margin-top: -320px;
}

.note75 {
  margin-left: 245px;
  margin-top: 110px;
}

.note76 {
  margin-left: 360px;
  margin-top: -300px;
}

.note77 {
  margin-left: 600px;
  margin-top: 150px;
}

.note78 {
  margin-left: 900px;
  margin-top: -40px;
}

.note79 {
  margin-left: 1100px;
  margin-top: -370px;
}

.note80 {
  margin-left: 800px;
  margin-top: -185px;
}

.note81 {
  margin-left: 980px;
  margin-top: -176px;
}

.note82 {
  margin-left: 400px;
  margin-top: -20px;
}

.note83 {
  margin-left: 650px;
  margin-top: -100px;
}

.note84 {
  margin-top: -300px;
  margin-left: 250px;
}

.note85 {
  margin-left: 750px;
  margin-top: -220px;
}

.note86 {
  margin-left: 1200px;
  margin-top: -300px;
}

.note87 {
  margin-left: 800px;
  margin-top: -185px;
}

.note88 {
  margin-left: 340px;
  margin-top: -200px;
}

.note89 {
  margin-left: 900px;
  margin-top: 40px;
}

.note90 {
  margin-left: 1100px;
  margin-top: -370px;
}

.note91 {
  margin-left: 115px;
  margin-top: 115px;
}

.note92 {
  margin-left: 1200px;
  margin-top: -140px;
}

.note93 {
  margin-left: 740px;
  margin-top: -310px;
}

.note94 {
  margin-left: 780px;
  margin-top: 100px;
}

.note95 {
  margin-top: -300px;
  margin-left: 250px;
}

.note96 {
  margin-left: 1130px;
  margin-top: -320px;
}

.note97 {
  margin-left: 910px;
  margin-top: -120px;
}

.note98 {
  margin-left: 130px;
  margin-top: -160px;
}

.note99 {
  margin-left: 630px;
  margin-top: 180px;
}

.note100 {
  margin-left: 770px;
  margin-top: -200px;
}

.note101 {
  margin-left: 1210px;
  margin-top: -300px;
}

.note102 {
  margin-left: 743px;
  margin-top: 110px;
}

.note103 {
  margin-left: 200px;
  margin-top: -140px;
}

.note104 {
  margin-left: 390px;
  margin-top: -315px;
}

.note105 {
  margin-left: 680px;
  margin-top: -245px;
}

.note106 {
  margin-left: 890px;
  margin-top: 95px;
}

.note107 {
  margin-left: 1210px;
  margin-top: -360px;
}

.note108 {
  margin-left: 10px;
  margin-top: -290px;
}

.note109 {
  margin-left: 390px;
  margin-top: -315px;
}

.note110 {
  margin-left: 680px;
  margin-top: -245px;
}

.note111 {
  margin-left: 890px;
  margin-top: 95px;
}

.note112 {
  margin-left: 1010px;
  margin-top: -120px;
}

.note113 {
  margin-left: 130px;
  margin-top: -160px;
}

.note114 {
  margin-left: 630px;
  margin-top: 180px;
}

.note115 {
  margin-left: 10px;
  margin-top: -290px;
}

.note116 {
  margin-left: 1010px;
  margin-top: -120px;
}

.note117 {
  margin-left: 740px;
  margin-top: -310px;
}

.note118 {
  margin-left: 780px;
  margin-top: 100px;
}

.note119 {
  margin-top: -300px;
  margin-left: 250px;
}

.note120 {
  margin-left: 1130px;
  margin-top: -320px;
}

.note121 {
  margin-left: 910px;
  margin-top: -120px;
}

.note122 {
  margin-left: 130px;
  margin-top: -160px;
}

.note123 {
  margin-left: 630px;
  margin-top: 180px;
}

.note124 {
  margin-left: 670px;
  margin-top: -80px;
}









/*REPEAT HOURLY */

.note200 {
  margin-left: 100px;
  margin-top: 100px;
}

.note201 {
  margin-top: -300px;
  margin-left: 350px;
}

.note202 {
  margin-left: 980px;
  margin-top: 100px;
}

.note203 {
  margin-left: 580px;
}

.note204 {
  margin-left: 1000px;
  margin-top: -185px;
}

.note205 {
  margin-left: 800px;
  margin-top: -270px;
}

.note206 {
  margin-left: 170px;
  margin-top: -350px;
}

.note207 {
  margin-left: 990px;
  margin-top: 110px;
}

.note208 {
  margin-left: 140px;
  margin-top: 100px;
}

.note209 {
  margin-left: 500px;
  margin-top: -350px;
}

.note210 {
  margin-left: 1270px;
  margin-top: -290px;
}

.note211 {
  margin-left: 1170px;
  margin-top: 150px;
}

.note212 {
  margin-left: 50px;
  margin-top: -270px;
}

.note213 {
  margin-left: 200px;
  margin-top: -100px;
}

.note214 {
  margin-left: 600px;
  margin-top: -220px;
}

.note215 {
  margin-left: 910px;
  margin-top: -315px;
}

.note216 {
  margin-left: 220px;
  margin-top: 165px;
}

.note217 {
  margin-left: 640px;
  margin-top: 20px;
}

.note218 {
  margin-left: 744px;
  margin-top: 100px;
}

.note219 {
  margin-left: 900px;
  margin-top: 40px;
}

.note220 {
  margin-left: 200px;
  margin-top: -200px;
}

.note221 {
  margin-left: 1020px;
  margin-top: -215px;
}

.note222 {
  margin-left: 460px;
  margin-top: 80px;
}

.note223 {
  margin-left: 280px;
  margin-top: -40px;
}

.note224 {
  margin-left: 500px;
  margin-top: -370px;
}

.note225 {
  margin-left: 510px;
  margin-top: -310px;
}

.note226 {
  margin-left: 825px;
  margin-top: -245px;
}

.note227 {
  margin-left: 1200px;
  margin-top: 110px;
}

.note228 {
  margin-left: 350px;
  margin-top: -160px;
}

.note229 {
  margin-left: 40px;
  margin-top: 130px;
}

.note230 {
  margin-left: 1230px;
  margin-top: -290px;
}

.note231 {
  margin-left: 1130px;
  margin-top: -290px;
}




/*BREAK SCREEN POPUPs */

.note300 , .note323 {
  margin-top: -200px;
  margin-left: 30px;
}

.note301 , .note324 {
  margin-top: -400px;
  margin-left: 990px;
}

.note302 , .note325 {
  margin-top: -100px;
  margin-left: 120px;
}

.note303 , .note326 {
  margin-top: -600px;
  margin-left: 500px;
}

.note304 , .note327 {
  margin-top: -500px;
  margin-left: 250px;
}

.note305 , .note328 {
  margin-top: -700px;
  margin-left: 1100px;
}

.note306 , .note329 {
  margin-top: -600px;
  margin-left: 1200px;
}



.note307 , .note330 {
  margin-top: -165px;
  margin-left: 760px;
}

.note308 , .note331 {
  margin-top: -440px;
  margin-left: 390px;
}

.note309 , .note332 {
  margin-top: -135px;
  margin-left: 1200px;
}

.note310 , .note333 {
  margin-top: -460px;
  margin-left: 100px;
}

.note311 , .note334 {
  margin-top: -165px;
  margin-left: 740px;
}



.note312 {
  margin-top: -595px;
  margin-left: 120px;
}

.note313 {
  margin-top: -445px;
  margin-left: 50px;
}

.note314 {
  margin-top: -105px;
  margin-left: 225px;
}

.note315 {
  margin-top: -200px;
  margin-left: 1080px;
}

.note316 {
  margin-top: -300px;
  margin-left: 1180px;
}

.note317 {
  margin-top: -600px;
  margin-left: 1120px;
}

.note318 {
  margin-top: -540px;
  margin-left: 970px;
}

.note319 {
  margin-top: -480px;
  margin-left: 280px;
}

.note320 {
  margin-top: -650px;
  margin-left: 650px;
}

.note321 {
  margin-top: -130px;
  margin-left: 820px;
}

.note322 {
  margin-top: -650px;
  margin-left: 610px;
}
