/* Time CSS here */

/*EXERCISES BY HOUR */

.break-screen {
  display: none;
}

.exercise-set-one , .exercise-set-two , .exercise-set-three , .exercise-set-four , .exercise-set-five , .exercise-set-six , .exercise-set-seven , .exercise-set-eight , .exercise-set-nine , .exercise-set-ten , .exercise-set-eleven , .exercise-set-twelve, .exercise-set-thirteen , .exercise-set-fourteen , .exercise-set-fifteen , .exercise-set-sixteen , .exercise-set-seventeen , .exercise-set-eighteen , .exercise-set-nineteen {
  display: none;

}

body.h12.break-one .break-screen , body.h12.break-one .break-screen .exercise-set-one , body.h12.break-two .break-screen , body.h12.break-two .break-screen .exercise-set-two {
  display: block;
}

body.h1.break-one .break-screen , body.h1.break-one .break-screen .exercise-set-three , body.h1.break-two .break-screen , body.h1.break-two .break-screen .exercise-set-four {
  display: block;
}

body.h2.break-one .break-screen , body.h2.break-one .break-screen .exercise-set-five , body.h2.break-two .break-screen ,
body.h2.break-two .break-screen .exercise-set-six {
  display: block;
}

body.h3.break-one .break-screen , body.h3.break-one .break-screen .exercise-set-seven , body.h3.break-two .break-screen , body.h3.break-two .break-screen .exercise-set-eight {
  display: block;
}

body.h4.break-one .break-screen , body.h4.break-one .break-screen .exercise-set-nine , body.h4.break-two .break-screen ,
body.h4.break-two .break-screen .exercise-set-ten {
  display: block;
}

body.h5.break-one .break-screen , body.h5.break-one .break-screen .exercise-set-eleven , body.h5.break-two .break-screen , body.h5.break-two .break-screen .exercise-set-one {
  display: block;
}

body.h6.break-one .break-screen , body.h6.break-one .break-screen .exercise-set-twelve , body.h6.break-two .break-screen , body.h6.break-two .break-screen .exercise-set-thirteen {
  display: block;
}

body.h7.break-one .break-screen , body.h7.break-one .break-screen .exercise-set-fourteen , body.h7.break-two .break-screen , body.h7.break-two .break-screen .exercise-set-two {
  display: block;
}

body.h8.break-one .break-screen , body.h8.break-one .break-screen .exercise-set-four , body.h8.break-two .break-screen ,
body.h8.break-two .break-screen .exercise-set-fifteen {
  display: block;
}

body.h9.break-one .break-screen , body.h9.break-one .break-screen .exercise-set-sixteen , body.h9.break-two .break-screen , body.h9.break-two .break-screen .exercise-set-seventeen {
  display: block;
}

body.h10.break-one .break-screen , body.h10.break-one .break-screen .exercise-set-eighteen , body.h10.break-two .break-screen , body.h10.break-two .break-screen .exercise-set-twelve {
  display: block;
}

body.h11.break-one .break-screen , body.h11.break-one .break-screen .exercise-set-six , body.h11.break-two .break-screen , body.h11.break-two .break-screen .exercise-set-nineteen {
  display: block;
}


/*WORK SCREEN POPUPs BY TIME */


.note1 , .note2 , .note3 , .note4 , .note5 , .note6 , .note7 , .note8 , .note9 , .note10 , .note11 , .note12 , .note13 , .note14 ,
.note15, .note16 , .note17 , .note18 , .note19 , .note20 , .note21 , .note22 , .note23 , .note24 , .note25 , .note26 , .note27 ,
.note28 , .note29 , .note30 , .note31 , .note32 , .note33 , .note34 , .note35 , .note36 , .note37 , .note38 , .note39 , .note40 ,
.note41 , .note42 , .note43 , .note44 , .note45 , .note46 , .note47 , .note48 , .note49 , .note50 , .note51 , .note52 , .note53 ,
.note54 , .note55 , .note56 {
  display: none;
}

.note200, .note201 , .note202 , .note203 , .note204 , .note205 , .note206 , .note207 , .note208 , .note209 , .note210 , .note211 , .note212 , .note213 , .note214 , .note215, .note216 , .note217 , .note218 {
  display: none;
}

  /*EVERY 15 MINS */

  /*HOUR 12 */

/*body.h12.quarterH .work-screen .popup-container .note1 , body.h12.quarterH .work-screen .popup-container .note2 ,
body.h12.quarterH .work-screen .popup-container .note3 , body.h12.quarterH .work-screen .popup-container .note4 ,
body.h12.quarterH .work-screen .popup-container .note6  {
  display: block;
}

body.h12.halfH .work-screen .popup-container .note5 , body.h12.halfH .work-screen .popup-container .note7 ,
body.h12.halfH .work-screen .popup-container .note8 , body.h12.halfH .work-screen .popup-container .note9 ,
body.h12.halfH .work-screen .popup-container .note10  {
  display: block;
}

body.h12.threeH .work-screen .popup-container .note11 , body.h12.threeH .work-screen .popup-container .note12 ,
body.h12.threeH .work-screen .popup-container .note13 , body.h12.threeH .work-screen .popup-container .note14 ,
body.h12.threeH .work-screen .popup-container .note15  {
  display: block;
}

body.h12.fullH .work-screen .popup-container .note16 , body.h12.fullH .work-screen .popup-container .note17 ,
body.h12.fullH .work-screen .popup-container .note18 , body.h12.fullH .work-screen .popup-container .note19 ,
body.h12.fullH .work-screen .popup-container .note20  {
  display: block;
}*/

  /* HOUR 1 */

/*body.h1.quarterH .work-screen .popup-container .note21 , body.h1.quarterH .work-screen .popup-container .note22 ,
body.h1.quarterH .work-screen .popup-container .note23 , body.h1.quarterH .work-screen .popup-container .note24 ,
body.h1.quarterH .work-screen .popup-container .note25 , body.h1.quarterH .work-screen .popup-container .note26 {
  display: block;
}

body.h1.halfH .work-screen .popup-container .note27 , body.h1.halfH .work-screen .popup-container .note28 ,
body.h1.halfH .work-screen .popup-container .note29 , body.h1.halfH .work-screen .popup-container .note30 ,
body.h1.halfH .work-screen .popup-container .note31 , body.h1.halfH .work-screen .popup-container .note32 {
  display: block;
}

body.h1.threeH .work-screen .popup-container .note33 , body.h1.threeH .work-screen .popup-container .note34 ,
body.h1.threeH .work-screen .popup-container .note35 , body.h1.threeH .work-screen .popup-container .note36 ,
body.h1.threeH .work-screen .popup-container .note37 , body.h1.threeH .work-screen .popup-container .note38 {
  display: block;
}

body.h1.fullH .work-screen .popup-container .note39 , body.h1.fullH .work-screen .popup-container .note40 ,
body.h1.fullH .work-screen .popup-container .note41 , body.h1.fullH .work-screen .popup-container .note42 ,
body.h1.fullH .work-screen .popup-container .note43 , body.h1.fullH .work-screen .popup-container .note44 {
  display: block;
}*/

/* HOUR 2 */

body.h11.quarterH .work-screen .popup-container .note45 , body.h11.quarterH .work-screen .popup-container .note46 ,
body.h11.quarterH .work-screen .popup-container .note47 , body.h11.quarterH .work-screen .popup-container .note48 ,
body.h11.quarterH .work-screen .popup-container .note49 , body.h11.quarterH .work-screen .popup-container .note50 {
display: block;
}

body.h11.halfH .work-screen .popup-container .note51 , body.h11.halfH .work-screen .popup-container .note52 ,
body.h11.halfH .work-screen .popup-container .note53 , body.h11.halfH .work-screen .popup-container .note54 ,
body.h11.halfH .work-screen .popup-container .note55 , body.h11.halfH .work-screen .popup-container .note56 {
display: block;
}

body.h11.threeH .work-screen .popup-container .note57 , body.h11.threeH .work-screen .popup-container .note58 ,
body.h11.threeH .work-screen .popup-container .note59 , body.h11.threeH .work-screen .popup-container .note60 ,
body.h11.threeH .work-screen .popup-container .note61 , body.h11.threeH .work-screen .popup-container .note62 {
display: block;
}

body.h11.fullH .work-screen .popup-container .note63 , body.h11.fullH .work-screen .popup-container .note64 ,
body.h11.fullH .work-screen .popup-container .note65 , body.h11.fullH .work-screen .popup-container .note66 ,
body.h11.fullH .work-screen .popup-container .note67 , body.h11.fullH .work-screen .popup-container .note68 {
display: block;
}

  /*by minute: REPEATS EVERY HOUR */

body.m1 .work-screen .popup-container .note200 , body.m3 .work-screen .popup-container .note201,
body.m7 .work-screen .popup-container .note202 , body.m11 .work-screen .popup-container .note203,
body.m14 .work-screen .popup-container .note204 , body.m20 .work-screen .popup-container .note205,
body.m24 .work-screen .popup-container .note206 , body.m31 .work-screen .popup-container .note207,
body.m33 .work-screen .popup-container .note208 , body.m35 .work-screen .popup-container .note209,
body.m37 .work-screen .popup-container .note210 , body.m39 .work-screen .popup-container .note211,
body.m41 .work-screen .popup-container .note212 , body.m43 .work-screen .popup-container .note213,
body.m48 .work-screen .popup-container .note214 , body.m51 .work-screen .popup-container .note215,
body.m8 .work-screen .popup-container .note216 , body.m53 .work-screen .popup-container .note217,
body.m54 .work-screen .popup-container .note218 {
  display: block;
}

  /*SPECIFIC TIME */

body.h12.m1.pm .work-screen .popup-container .note29 {
  display: block;
}
