* {
  box-sizing: border-box;
}


/* Start here */

@font-face {
	font-family: 'weather';
	src: url("../fonts/artillcleanweathericons-Regular.eot");
	src: url("../fonts/artillcleanweathericons-Regular.eot?#iefix") format('embedded-opentype'),
		url("../fonts/artillcleanweathericons-Regular.woff") format('woff'),
		url("../fonts/artillcleanweathericons-Regular.ttf") format('truetype'),
		url("../fonts/artillcleanweathericons-Regular.svg#artillcleanweathericons-Regular") format('svg');
	font-weight: normal;
	font-style: normal;
}

#weather {
  padding-right: 15px;
  text-align: right;
  text-transform: uppercase;
  align-self: flex-start;
  top: 0;
  width: 500px;
}

i {

  font-family: 'weather';
  font-size: 80px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-transform: none;
  text-align: right;
  -webkit-text-stroke: 1.5px blue;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

h2 {

}

#weather h2 {
  margin: 0 0 3px;
  margin-top: -20px;
  color: white;
  font-size: 40px;
  font-weight: 300;
  text-align: right;
  -webkit-text-stroke: 1.3px blue;
  /*text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);*/
}

#weather h2:hover {
  cursor: default;
  /*color: blue;*/
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  list-style-type: none;
  border-radius: 5px;
  font-size: 13px;
  color: grey;
}

/*#weather ul , #weather li {
  display: none;
}*/

.showme {
  display: inline-block;
}

#weather .currently {
  margin: 0 20px;
}
