/* TEXT STYLES */

body , a {
  color: black;
}

.contact-text {
  text-align: center;
}


/* STRUCTURE */

body {
  background-color: #ecffe5;
}

.social-text , .google-map__container {
  margin-bottom: 60px;
}


.google-map__container {
  filter: grayscale(1);
  margin: 0 auto;
  width: 70%;
  background-color: white;
}

.google-map {
  max-width: 100%;
  display: block;
  text-align: center;
}

.gm-style .place-card-large , .gm-inset-light {
  display: none !important;
}

.minas-map__container {
  width: 40%;
  margin: 0 auto;
  background-color: red;
}

.minas-map {
  max-width: 100%;
  display: block !important;
}
