/* MAIN TEXT STYLES */

body , a {
  color: black;
}


/* STRUCTURE */

body {
  background-color: #ecffe5;
}


.menu-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.menu-list-drink__section {
  text-align: center;
}

.item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
}

.item-prices {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.drink-item {
  display: inline-block;
}

.drink-item:nth-child(2) , .drink-item:nth-child(3) , .drink-item:nth-child(4) {
  margin-left: 10px;
}



/* MENU BULLET SHAPES */

.tab {
  margin-left: 55px;
  display: inline-block;
}

.bullet-circle-regular {
  width: 13px;
  height: 13px;
  margin-right: 15px;
  border-radius: 50%;
  display: inline-block;
}

.bullet-circle-small {
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  display: inline-block;
}

.bullet-circle-xsmall {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: inline-block;
}

.xsmall-spacer {
  margin-right: 12px;
}

.transparent {
  background-color: rgba(0,0,0,0);
}

.brown {
  background-color: #b2763b;
}

.forest-green {
  background-color: #006838;
}

.emerald {
  background-color: #006c7d;
}

.mint-green {
  background-color: #52b69e;
}

.purple {
  background-color: #2e3192;
}

.terracotta {
  background-color: #ffaa80;
}
