/* Time CSS here */



/* NIGHT: DURING 6PM - 5AM -- SHOW MOON */
body.pm.h6 .video__swap .desktop-moon-bg , body.pm.h6 .video__swap .mobile-moon-bg ,
body.pm.h7 .video__swap .desktop-moon-bg , body.pm.h7 .video__swap .mobile-moon-bg ,
body.pm.h8 .video__swap .desktop-moon-bg , body.pm.h8 .video__swap .mobile-moon-bg ,
body.pm.h9 .video__swap .desktop-moon-bg , body.pm.h9 .video__swap .mobile-moon-bg ,
body.pm.h10 .video__swap .desktop-moon-bg , body.pm.h10 .video__swap .mobile-moon-bg ,
body.pm.h11 .video__swap .desktop-moon-bg , body.pm.h11 .video__swap .mobile-moon-bg ,
body.am.h12 .video__swap .desktop-moon-bg , body.am.h12 .video__swap .mobile-moon-bg ,
body.am.h1 .video__swap .desktop-moon-bg , body.am.h1 .video__swap .mobile-moon-bg ,
body.am.h2 .video__swap .desktop-moon-bg , body.am.h2 .video__swap .mobile-moon-bg ,
body.am.h3 .video__swap .desktop-moon-bg , body.am.h3 .video__swap .mobile-moon-bg ,
body.am.h4 .video__swap .desktop-moon-bg , body.am.h4 .video__swap .mobile-moon-bg ,
body.am.h5 .video__swap .desktop-moon-bg , body.am.h5 .video__swap .mobile-moon-bg {
  display: block;
}

/* DAY: DURING 6AM - 5PM -- HIDE MOON */
body.am.h6 .video__swap .desktop-moon-bg , body.am.h6 .video__swap .mobile-moon-bg ,
body.am.h7 .video__swap .desktop-moon-bg , body.am.h7 .video__swap .mobile-moon-bg ,
body.am.h8 .video__swap .desktop-moon-bg , body.am.h8 .video__swap .mobile-moon-bg ,
body.am.h9 .video__swap .desktop-moon-bg , body.am.h9 .video__swap .mobile-moon-bg ,
body.am.h10 .video__swap .desktop-moon-bg , body.am.h10 .video__swap .mobile-moon-bg ,
body.am.h11 .video__swap .desktop-moon-bg , body.am.h11 .video__swap .mobile-moon-bg ,
body.pm.h12 .video__swap .desktop-moon-bg , body.pm.h12 .video__swap .mobile-moon-bg ,
body.pm.h1 .video__swap .desktop-moon-bg , body.pm.h1 .video__swap .mobile-moon-bg ,
body.pm.h2 .video__swap .desktop-moon-bg , body.pm.h2 .video__swap .mobile-moon-bg ,
body.pm.h3 .video__swap .desktop-moon-bg , body.pm.h3 .video__swap .mobile-moon-bg ,
body.pm.h4 .video__swap .desktop-moon-bg , body.pm.h4 .video__swap .mobile-moon-bg ,
body.pm.h5 .video__swap .desktop-moon-bg , body.pm.h5 .video__swap .mobile-moon-bg {
  display: none;
}


/* NIGHT: DURING 6PM - 5AM - HIDE SUN */
body.pm.h6 .video__swap .desktop-sun-bg , body.pm.h6 .video__swap .mobile-sun-bg ,
body.pm.h7 .video__swap .desktop-sun-bg , body.pm.h7 .video__swap .mobile-sun-bg ,
body.pm.h8 .video__swap .desktop-sun-bg , body.pm.h8 .video__swap .mobile-sun-bg ,
body.pm.h9 .video__swap .desktop-sun-bg , body.pm.h9 .video__swap .mobile-sun-bg ,
body.pm.h10 .video__swap .desktop-sun-bg , body.pm.h10 .video__swap .mobile-sun-bg ,
body.pm.h11 .video__swap .desktop-sun-bg , body.pm.h11 .video__swap .mobile-sun-bg ,
body.am.h12 .video__swap .desktop-sun-bg , body.am.h12 .video__swap .mobile-sun-bg ,
body.am.h1 .video__swap .desktop-sun-bg , body.am.h1 .video__swap .mobile-sun-bg ,
body.am.h2 .video__swap .desktop-sun-bg , body.am.h2 .video__swap .mobile-sun-bg ,
body.am.h3 .video__swap .desktop-sun-bg , body.am.h3 .video__swap .mobile-sun-bg ,
body.am.h4 .video__swap .desktop-sun-bg , body.am.h4 .video__swap .mobile-sun-bg ,
body.am.h5 .video__swap .desktop-sun-bg , body.am.h5 .video__swap .mobile-sun-bg {
  display: none;
}

/* DAY: DURING 6AM - 5PM - SHOW SUN */
body.am.h6 .video__swap .desktop-sun-bg , body.am.h6 .video__swap .mobile-sun-bg ,
body.am.h7 .video__swap .desktop-sun-bg , body.am.h7 .video__swap .mobile-sun-bg ,
body.am.h8 .video__swap .desktop-sun-bg , body.am.h8 .video__swap .mobile-sun-bg ,
body.am.h9 .video__swap .desktop-sun-bg , body.am.h9 .video__swap .mobile-sun-bg ,
body.am.h10 .video__swap .desktop-sun-bg , body.am.h10 .video__swap .mobile-sun-bg ,
body.am.h11 .video__swap .desktop-sun-bg , body.am.h11 .video__swap .mobile-sun-bg ,
body.pm.h12 .video__swap .desktop-sun-bg , body.pm.h12 .video__swap .mobile-sun-bg ,
body.pm.h1 .video__swap .desktop-sun-bg , body.pm.h1 .video__swap .mobile-sun-bg ,
body.pm.h2 .video__swap .desktop-sun-bg , body.pm.h2 .video__swap .mobile-sun-bg ,
body.pm.h3 .video__swap .desktop-sun-bg , body.pm.h3 .video__swap .mobile-sun-bg ,
body.pm.h4 .video__swap .desktop-sun-bg , body.pm.h4 .video__swap .mobile-sun-bg ,
body.pm.h5 .video__swap .desktop-sun-bg , body.pm.h5 .video__swap .mobile-sun-bg {
  display: block;
}
