body {
  font-family: arial;
  margin-top: -1%;
}

.bigtitle {
  color: black;
  font-size: 150px;
  display: none;
  position: fixed;
  z-index: 10;
}

.bigtitle.showme {
  display: block;
}

.marquee {
  position: relative;
  overflow: hidden;
  /* position the div */
  text-align: center;
  margin: 0 auto;
  /* size the div */
  width: 100%;
  height: 45px;
}

#titlevertical {
  position: fixed;
  line-height: 45px;
  display: flex;
  color: white;
  background-color: black;
  font-family: Arial, sans-serif;
  font-size: 18px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  z-index: 5;
  margin-left: -600px;
}

#titlevertical:hover {
  color: black;
  background-color: grey;
}

#titlestill {
  /* text and colors */
  line-height: 45px;
  color: black;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

#titlerotated {
  /* text and colors */
  line-height: 45px;
  color: black;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

#text1quote1 {
  line-height: 45px;
  color: #24408e;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

#text1quote2 {
  line-height: 45px;
  color: #24408e;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

#text1quote3 {
  line-height: 45px;
  color: #24408e;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

#text2quote1 {
  line-height: 45px;
  color: #38a172;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

#text2quote2 {
  line-height: 45px;
  color: #38a172;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

#text2quote3 {
  line-height: 45px;
  color: #38a172;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

#text3quote1 {
  line-height: 45px;
  color: #dd5b6e;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

#text3quote2 {
  line-height: 45px;
  color: #dd5b6e;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;

}

/* marquee links */

#gototext1 {
  line-height: 45px;
  color: white;
  background-color: #24408e;
  font-family: Arial, sans-serif;
  font-size: 18px;
  width: 100%;
  height: 45px;
  justify-content: space-around;
  align-items: center;
}

#gototext1:hover {
  line-height: 45px;
  color: #24408e;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
  width: 100%;
  height: 45px;
  justify-content: space-around;
  align-items: center;
}

#gototext2 {
  line-height: 45px;
  color: white;
  background-color: #38a172;
  font-family: Arial, sans-serif;
  font-size: 18px;
  width: 100%;
  height: 45px;
  justify-content: space-around;
  align-items: center;
  z-index: 6;
}

#gototext2:hover {
  line-height: 45px;
  color: #38a172;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
  width: 100%;
  height: 45px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  z-index: 6;
}

#gototext3 {
  line-height: 45px;
  color: white;
  background-color: #dd5b6e;
  font-family: Arial, sans-serif;
  font-size: 18px;
  width: 100%;
  height: 45px;
  justify-content: space-around;
  align-items: center;
}

#gototext3:hover {
  line-height: 45px;
  color: #dd5b6e;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
  width: 100%;
  height: 45px;
  justify-content: space-around;
  align-items: center;
}
