* {
  box-sizing: border-box;
}


/* CATCH ALL */

html {
  font-size: 25px;
}

body {
  background-color: black;
  color: white;
  font-family: baskerville , times, serif;
  line-height: 1.2;
}

.body-ital {
  font-style: italic;
  letter-spacing: 1.2px;
}

a , .project-text-link span {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.text-link--external {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: .75rem;
}

.project-text-link span:hover , .nav-link:hover , .text-link--external:hover {
  color: red !important;
  cursor: pointer;
}

.project-text-link__container , .project-text__container {
  margin-bottom: 25px;
}


.image-caption__container {
  margin-bottom: 25px;
  font-size: .55rem;
  font-family: 'Arial Monospaced MT' , arial, helvetica, sans-serif;
  text-align: center;
}

.nav-link , .project-title , .about-item--left {
  font-family: 'Arial Monospaced MT' , arial, helvetica, sans-serif;
  text-transform: uppercase !important;
  font-size: .8rem;
}

.header-content__container , .popup__container--about , .main-content__container {
  padding: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
}


/* HEADER */

.header-content__container {
  background-color: black;
  border-bottom: 1.2px solid white;
  box-shadow: 0 0 20px 0 black;
  position: fixed;
}

.header-item--right .nav-link {
  margin-left: 20px;
}

.flex-item--left {
  text-align: left;
}

.flex-item--right {
  text-align: right;
}

.header-item--left {
  flex: 0 0 25%;
}

.header-item--right {
  flex: 0 0 75%;
}

.about-item--left {
  flex: 0 0 65%;
}

.about-item--right {
  flex: 0 0 35%;
}


.popup__container--about a , .popup__container--about span {
  color: black;
}

.popup__container--about {
  background-color: white;
  color: black;
  font-family: 'Arial Monospaced MT' , arial, helvetica, sans-serif;
  text-transform: uppercase;
  height: 920px;
  display: none;
  z-index: 99999;
  position: fixed;
}

.showme {
  display: inline-flex;
}

.hideme {
  display: none;
}


/* MAIN CONTENT - EXHIBITIONS */

.main-content__container {
  margin-top: 120px;
  position: absolute;
  z-index: -1
}

.main.flex-item--left {
  flex: 0 0 63%;
}

.project-image__container img , .project-image__container video {
  max-width: 100%;
  pointer-events: none;
  margin-bottom: 15px;
}




/* HOVER SHOW CURSOR IMAGE */

.hover {
  position: fixed;

}

.hover__image--landscape {
  width: 300px;
  height: 200px;
}

.hover__image--square {
  width: 250px;
  height: 250px;
}
