body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:#000;
	text-decoration: none;
}

img {
	width:100%;
	display: block;
}

.title {
	font-size: 24vw;
	text-align: center;
}

.interaction .content {
	box-shadow: 10px 10px 10px gray;
	background-color: lightgray;
}


