.title {
	font-size: 24vw;
	text-align: center;
}

.title-1.active {
	color:red;
}

.title-2.active {
	color:blue;
}

.title-3.active {
	color:lime;
}

.image-container {
  height:100vh;
  width:100vw;
  align-items:center;
  justify-content: center;
  position: fixed;
  top:0px;
  left:0px;
  display: none;
  flex-wrap: wrap;
}

.image-container.active {
	display: flex;
}

.image {
	height:80vh;
}

.image img {
	height: 100%;
	width:auto;
}