* {
  box-sizing: border-box;
}


/* Start here */


#container{
  display: inline-block;
	width:900px;
	margin: 8px;
  margin-right: 15px;
  top: 0px;
  left: 0px;
  float: left;
}


#quoteContainer{
	width:60%;
	background: #fff;
	/*padding:10px;*/
	margin-left: 15px;
	text-align: left;
  height:70px;
}
#buttonContainer{
  margin-left: 15px;
	text-align: left;
}
#quoteButton{
	width:200px;
	margin-top: 10px;
	border:2px solid red;
	color:red;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
	text-align: center;
  text-transform: uppercase;

}

#quoteButton:hover{
	cursor:pointer;
	background:red;
	color: white;
}
#quoteButton:active{
	cursor: pointer;
}
#quoteButton{
	display: inline-block;
}
/*#quoteGenius{
	font-style: italic;
	font-weight: 600;
	text-align: center;
}*/


/*MEDIA QUERIES*/
@media screen and(max-width:760px){
	#quoteButton,#addNew{
		display: block;
	}
}
