body {
  font-family: arial;
  font-size: 20px;
  color: blue;
}

span {
  color: red;
}

.number {
  color: red;
}

.number:hover{
  color: yellow;
}

.footnote {
  font-size: 10px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: none;
}

.footnote.showme {
  display: block;
  color: red;
}

.thumbnail {
  width: 120px;
  height: 200px;
  transition: 2s;
}

.thumbnail.enlarge {
  width: 600px;
  height: 680px;
  transition: 2s;
  margin-left: 100px;
}
