* {
  box-sizing: border-box;
}


/** CATCH ALL **/

html {
  font-size: 16px;
  font-family: baskerville , times new roman, serif ;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-family: titling-gothic-fb-extended, arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
}

.body-container {
  margin-top: 150px;
  margin-bottom: 20px;
}

/** HEADER **/

.header-container {
    top: 30px;
    width:100%;
    overflow:hidden;
    display:block;
    text-align: center;
    position: fixed;
    z-index: 9999;
}

.header-menu {
  text-transform: uppercase;
  width: 50%;
  margin: 0 auto;
  font-family: titling-gothic-fb-extended, arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
}

.header-info , .header-home {
  font-family: baskerville;
  font-size: 2.1rem;
  display: none;
}

.mobile-header-title {
  display: none;
}

.header-title.hideme {
  display: none;
}

.header-info.showme , .header-home.showme {
  display: inline-block;
}

/** HOME **/

.row {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col_1of3 {
  flex: 0 0 33.333%;
}

.col_1of2 {
  flex: 0 0 50%;
}

.col_1of1 {
  flex: 0 0 100%;
}

.spacer {
  padding: 0 70px 0 70px;
}

.row2 {
  margin-top: 20px;
  width: 100%;
}

.spacer2 {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.spacer3 {
    margin-top: 100px;
    margin-left: 100px;
}


.spacer img , .spacer3 img {
  max-width: 100%;
}




.image-link:hover {
  opacity: .7;
  filter: blur(7px);
  cursor: pointer;
}

.project-image-title-container {
  text-transform: uppercase;
  text-align: center;

  font-family: titling-gothic-fb-extended, arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.feastbound-image {
  margin-top: 200px;
}

.self_harvest-title , .invitro-title , .else-title , .elodea-title ,
.feastbound-title , .scenescenza-title , .biomicro-title {
  opacity: 0;
}

.self_harvest-title.showme , .invitro-title.showme , .else-title.showme , .elodea-title ,
.feastbound-title.showme , .scenescenza-title.showme , .biomicro-title.showme {
  opacity: 1;
}

/*** IMAGE ALIGNMENT ***/

.align_top {
  align-self: flex-start;
}

.align_center {
  align-self: center;
}

.align_bottom {
  align-self: flex-end;
}





/*Mobile styles*/
@media only screen and (max-width: 1100px)  {

.header-menu {
  width: 100%;
}

}


@media only screen and (max-width: 800px)  {

.col_1of2 , .col_1of3{
  flex: 0 0 100%;
}

.spacer , .spacer2 , .spacer3 {
  padding: 0 25px 0 25px;
  margin: 0 auto;
}

.spacer2 , .spacer3 {
  width: 100%;
}

.row2 , .feastbound-image {
  margin-top: 0px;
}

html {
  font-size: 10px;
}

.body-container {
  margin-top: 100px;
  margin-bottom: 0;
}

/* .header-menu , a:hover {
  font-size: 1.1rem;
}

.header-info , .header-home {
  font-size: 1.4rem;
} */

}


/* @media only screen and (max-width: 420px)  {

.header-title {
  display: none;
}

.header-info , .header-home {
  padding-top: 5px;
  display: inline-block;
}

} */
