/** PROJECTS PAGE **/

/*** FOOTER BAR ***/

.footer-container {
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: white;
  position: fixed;
  border-top: 1px solid black;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

}

.footer-project-title {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-family: titling-gothic-fb-extended, arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  cursor: pointer;
}

.footer-project-description {
  width: 100%;
  padding: 0 300px 25px 300px;
  text-align: justify;

  display: none;

}

.footer-project-description.showme {
  display: block;
}


/*** SLIDESHOW ***/

.counter {
  position: fixed;
  top: 45%;
  right: 2%;
  display: block;
  z-index: 500;
  letter-spacing: 1px;
  font-weight: 500;
}


.active-counter {
  display: block !important;
}

.slideshow-container {
  width: 100%;
  height: 50%;
  margin-top: 15vh;

}

.slideshow-item img {
  cursor: pointer;
}

/* .slideshow-items {
  margin-top: 200px;
  width: 100%;
  height: 100%;
  background-color: blue;
  cursor: pointer;
  text-align: center;
} */

.image-spacer {
  display: block;
  margin: 0 auto;
  height: 38vw;
}
