* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}


input, textarea, select, a {
  outline: none;
}


/* Start here */
html, body, .mid-content__container {
  cursor: url('../images/arrow.png'),s-resize !important;
}


body {
  font-family: 'Arial Monospaced MT', arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  overflow-y: scroll;
  overflow-x: hidden;
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none; */
  color: black;
  text-transform: uppercase;
  height: 2000px;
}

.menu-link {
  text-decoration: none;
  color: black;
}

.menu-link:hover {
  text-decoration: underline;
}

.header-content__container , .footer-content__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
}

.header-content__container {
  padding-top: 25px;
  top: 0 !important;
}

.footer-content__container {
  bottom: 0 !important;
  padding-bottom: 25px;
}

.footer-item--left {
  text-align: left;
  padding-left: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

.header-item--center {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.footer-item--center {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.footer-item--right {
  text-align: right;
  padding-right: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

.footer-item {
  -ms-flex-item-align:end;
      align-self:flex-end;
}

.for-mobile.header-content__container , .for-mobile.footer-content__container , .for-mobile.mid-section__container {
  display: none;
}

.for-mobile .footer-item--left , .for-mobile .footer-item--right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}


.mid-section__container {
  position: relative;
  margin: 4% 0 0 0;
  pointer-events: none;
  cursor: url('.assets/images/cursor.png'), auto;
}

.callies-logo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.callies-logo {
  margin: -120px 0 0 0;
  max-width: 55%;
}


.aniScrollContainer {
    position: relative;
    height: 1000px;
}

.aniScrollContainer img.animated {
    position: fixed;
    display: none;
    width: 100%;
}

.for-mobile.mid-section__container {
  margin: 30% 0 0 0;
}

.mobile-logo.callies-logo {
  max-width: 85%;
  margin: 0px 0 0 0;
}

/*EMAIL FORM*/

#mc_embed_signup {
  clear: center;
  width: 100%;
  z-index: 9999999;
  bottom: 0;
}

input {
  color: black;
  font-size: 18px;
  font-family: 'Arial Monospaced MT', arial, helvetica, sans-serif;
  text-align: center;
  display: inline-block;
  background-color: #ffffff00 !important;
}

::-webkit-input-placeholder {
  color: black;
}

::-moz-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

::placeholder {
  color: black;
}

#mc_embed_signup_scroll {
  font-family: 'Arial Monospaced MT', arial, helvetica, sans-serif;
  margin: 0 auto;
  display: block;
  text-align: center;
}

#mce-EMAIL {
  border: none;
  border-radius: 0;
  cursor: text;
  width: 200px;
}

#mce-email:focus {
  outline: none;
  -webkit-box-shadow:none;
          box-shadow:none;
}

.clear {
  display: inline-block;
}

#mc-embedded-subscribe {
  border: none;
  background-color: #ffffff00 !important;
}

#mc-embedded-subscribe:hover {
  text-decoration: underline;
  cursor: pointer;
}


/* MOBILE STYLES */


@media only screen
and (max-width : 1500px) {

.mid-section__container {
  margin: 6% 0 0 0;
}

}


@media only screen
and (max-width : 1330px) {

.mid-section__container {
  margin: 7% 0 0;
}

}


@media only screen
and (max-width : 1150px) {

.mid-section__container {
  margin: 7% 0 0 0;
}

}


@media only screen
and (max-width : 1018px) {

.mid-section__container {
  margin: 8% 0 0 0;
}

.callies-logo {
  max-width: 65%;
}

}


@media only screen
and (max-width : 970px) {

.not-mobile.footer-content__container {
  display: none;
}

.for-mobile.header-content__container , .for-mobile.footer-content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mc_embed_signup_scroll {
  text-align: right;
}

.callies-logo {
  max-width: 70%;
}

}


@media only screen
and (max-width : 900px) {

}


@media only screen
and (max-width : 840px) {

.mid-section__container {
  margin: 10% 0 0 0;
}

}



@media only screen
and (max-width : 767px) {

}


/*ALL SMARTPHONE*/


@media only screen
/* and (min-width: 320px) */
and (max-width : 736px) {

body {
  height: inherit;
}

body , html , .mid-content__container {
  cursor: auto;
}

body , input {
  font-size: 16px;
}

.for-mobile.footer-content__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.for-mobile .footer-item {
  width: 100%;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding-left: 0;
  padding-right: 0;
}

#mc_embed_signup {
  clear: center;
  margin-bottom: 18px;
  margin-top: 18px;
}

#mc_embed_signup_scroll {
  text-align: center;
}

input {
  text-align: left;
}

.mid-section__container {
  margin: 9% 0 0 0;
}

.callies-logo {
  max-width: 75%;
}

.not-mobile.mid-section__container {
  display: none !important;
}

.for-mobile.mid-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

}


@media only screen
and (max-width : 645px) {
  .mobile-logo.callies-logo {
    margin: 80px 0 0 0;
    max-width: 80%;
  }

}


@media only screen
and (max-width : 580px) {



}


@media only screen
and (max-width : 530px) {

.mid-section__container {
  position: relative;
  margin: 10% 0 0 0;
}

.mobile-logo.callies-logo {
  margin: 80px 0 0 0;
  max-width: 80%;
}

}

/* LANDSCAPE */

@media only screen
and (max-width : 870px) and (orientation: landscape) {

body {
  height: 500px;
}

body , input {
  font-size: 14px !important;
}

.mid-section__container {
  margin: 4% 0 0 0;
  position: fixed;
}


.mobile-logo.callies-logo {
  margin: -100px 0 0 0;
  max-width: 60%;
}

.for-mobile.footer-content__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-item.footer-item--left {
  text-align: left;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-left: 25px;
}

.footer-item.footer-item--right {
  text-align: right;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-right: 25px;
}

#mc_embed_signup {
  clear: right;
  margin-bottom: 0;
  margin-top: 0;
}

#mc_embed_signup_scroll {
  text-align: right;
}

input {
  text-align: center;
}



}
