body {
  font-family: arial;
  background-color: black;
}

a {
  text-decoration: none;
}


.highlight {
  width: 70%;
  height:40px;
  position: fixed;
  top:70px;
  z-index: -1;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(1.5px);
}

.highlight.showme {
  display: none;
}

.highlighttext1 {
  background-color: #24408e;
}

.highlighttext2 {
  background-color: #009976;
}

.highlighttext3 {
  background-color: orchid;
}

.row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col__2of3 {
  width: 70%;
}

.bodytext {
  z-index: 1;
  margin-top: 6%;
  font-size: 40px;
  color: #CCCCCC;
  mix-blend-mode: color-dodge;
}

/* Return to top Page */

.returntotop {
  text-decoration: none;
  color: grey;
}

.returnicon {
  background-image: url("../images/icons/returnwhite.jpg");
  background-size: cover;
  width: 40px;
  height: 40px;
}

.returnicon:hover {
  background-size: cover;
  width: 40px;
  height: 40px;
}

.returnicontext1:hover {
  background-image: url("../images/icons/returnblue.png");
}

.returnicontext2:hover {
  background-image: url("../images/icons/returngreen.png");
}

.returnicontext3:hover {
  background-image: url("../images/icons/returnpink2.png");
}


/*rollover text*/

.rollover {
  color: #CCCCCC;
  text-decoration: none;
  border-bottom: 2px dotted #CCCCCC;
}

.rollover:hover{
  color: #CCCCCC;
  opacity: 0.7;
  font-style: italic;
  text-decoration: none;
  border-bottom: 2px dotted #CCCCCC;
}


.bodytext.noblend {
  opacity: .5;
}

.highlight.noblend {
  opacity: .8;
}

/*rollover show images*/

.rollovered {
  background-size: cover;
  position:fixed;
  top:0px;
  left:0px;
  z-index: -2;
  height: 107%;
  width: 103%;
  opacity: 0;
}

.rollovered.showme {
  opacity: 1;
}



/* Navigation Bar */

.navigationbar {
  background-color: black;
  border-top: 3px dotted white;
  width: 101%;
  height: 8%;
  bottom: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  margin-left: -1%;
  padding-left: 5%;
  position: fixed;
  color: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navitem {
    -webkit-box-flex:0;
        -ms-flex:0 0 25%;
            flex:0 0 25%;
    -webkit-flex: 0 0 25%;
}


.chapterlink {
  color: #CCCCCC;
  text-decoration: none;
  border-bottom: 2px dotted #CCCCCC;
  cursor: pointer;
}

.chapterlink:hover{
  color: #CCCCCC;
  opacity: 0.7;
  font-style: italic;
  text-decoration: none;
  border-bottom: 2px dotted #CCCCCC;
}

.homeicon {
  background-image: url("../images/icons/homewhite.png");
  background-size: cover;
  width: 40px;
  height: 40px;
  margin-left: -13%;
}

.homeicon:hover {
  background-size: cover;
  width: 40px;
  height: 40px;
}

.homeicontext1:hover {
  background-image: url("../images/icons/homeblue.png");
}

.homeicontext2:hover {
  background-image: url("../images/icons/homegreen.png");
}

.homeicontext3:hover {
  background-image: url("../images/icons/homepink2.png");
}

#pButton{
    height:80px;
    width: 80px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
    margin-left: -102%;
    cursor: pointer;
}

.play {
  background: url('../images/icons/playwhite.png') no-repeat;
}

.play:hover {
  opacity: .7;
}

.pause {
  background: url('../images/icons/pausewhite.png') no-repeat;
}

.pause:hover {
  opacity: .7;
}

.chapters {
  margin-left: -144%;
  text-align: center;
}

.relatedicon {
  background-image: url("../images/icons/relatedwhite.png");
  background-size: cover;
  width: 40px;
  height: 40px;
  margin-left: 63%;
  cursor: pointer;
}

.relatedicon:hover {
  background-size: cover;
  width: 40px;
  height: 40px;
}

.relatedicontext1:hover {
  background-image: url("../images/icons/relatedblue.png");
}

.relatedicontext2:hover {
  background-image: url("../images/icons/relatedgreen.png");
}

.relatedicontext3:hover {
  background-image: url("../images/icons/relatedpink2.png");
}


/* Navigation popups */

.row3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chapterpopup {
  visibility: hidden;
  background-color: grey;
  width: 101%;
  margin-left: -1%;
  position: fixed;
  bottom: 8%;
  border-top: 3px dotted white;
}

.chapterpopup.showme {
  visibility: visible;
}

.text1popup {
  height: 42%;
}

.text2popup {
  height: 10%;
}

.text3popup {
  height: 10%;
}

.infomarquee {
  width: 101%;
  line-height: 44px;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.text1info {
  color: #24408e;
}

.text2info {
  color: #009976;
}

.text3info {
  color: orchid;
}

.chapterlist {
    width: 101%;
    z-index: 5;
}

.item {
    padding: 10px 10px;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
}

.text1chapters:hover {
  background-color: #24408e;
}

.text2chapters:hover {
  background-color: #009976;
}

.text3chapters:hover {
  background-color: orchid;
}


.current {
    text-decoration: none;
    color: black;

}

.next {
    text-decoration: none;
    color: #CCCCCC;
}

.next:hover {
  border-bottom: 2px dotted #CCCCCC;

}


/*related nav popup contents*/

.row4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex:0;
      -ms-flex:0 0 33.33%;
          flex:0 0 33.33%;
  -webkit-flex: 0 0 33.33%;
}

.relatedpopup {
  visibility: hidden;
  background-color: grey;
  width: 101%;
  height: 42%;
  position: fixed;
  bottom: 8%;
  border-top: 3px dotted white;
}

.relatedpopup.showme {
  visibility: visible;
}

.relatedpopuptext2 {
  visibility: hidden;
  background-color: grey;
  width: 101%;
  height: 42%;
  position: fixed;
  bottom: 9.5%;
  border-top: 3px dotted white;
}

.relatedpopuptext2.showme {
  visibility: visible;
}

.h_scroll {
  overflow-y: scroll;
}

.relatedlist {
  width: 1847px;
}

.relatedlisttwo {
  width: 1000px;
}

.relatedlistsix {
  width: 2222.8px;
}

.relatedarticle {
  -webkit-filter: grayscale(80);
          filter: grayscale(80);
  margin-top: 1.25%;
  margin-right: .3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.relatedarticle2 {
  -webkit-filter: grayscale(80);
          filter: grayscale(80);
  margin-top: 30px;
  margin-right: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.relatedarticle:hover {
  -webkit-filter: none;
          filter: none;
}

.relatedarticle2:hover {
  -webkit-filter: none;
          filter: none;
}

.link1__image {
  width: 360px;
  height: 220px;
}

.link2__image {
  width: 360px;
  height: 220px;
}

.link3__image {
  width: 360px;
  height: 220px;
}

.link4__image {
  width: 360px;
  height: 220px;
}

.link5__image {
  width: 360px;
  height: 220px;
}

.link6__image {
  width: 360px;
  height: 220px;
}

.articlecaptions {
  float: left;
  margin-top: 1%;
  margin-bottom: 1.1%;
  margin-left: .3%;
  text-align: center;
  width: 360px;
  color: #CCCCCC;
}

.articlecaptions2 {
  float: left;
  margin-top: 1.6%;
  margin-bottom: 1.6%;
  margin-left: .3%;
  text-align: center;
  width: 360px;
  color: #CCCCCC;
}

.link1.changecolor {
  color: red;
}


.link2.changecolor {
  color: red;
}

.link3 {
  margin-left: .4%;
}

.link3.changecolor {
  color: red;
}

.link4 {
  margin-left: .75%;
}

.link4.changecolor {
  color: red;
}

.link5 {
  margin-left: .60%;
}

.link5.changecolor {
  color: red;
}
